<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
      <h1> Resturants for all occassions </h1>

      <ul>
        <% @restaurants.each do |restaurant| %>
          <li><h3><%= link_to restaurant.name, restaurant %></h3></li>
          <li><h5><%= restaurant.address %></h5></li>
          <li><h5><%= restaurant.phone_number %></h5></li>
          <li><h5><%= restaurant.category %></h5></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

